.contact{
    &__content-wrapper{
        display: flex;
        gap: 10px;
        padding: 13px;

        &__inner-content{
            flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

&__category-text{
    display: inline-block;
    color: var(--yellow-theme-sub-text-color);
    font-size: 22px;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: 0.5px;
    position: relative;
    text-transform:uppercase;
    padding: 5px 10px;
    border-bottom: 2px solid var(--yellow-theme-main-color);
}
&__category-text::before, &__category-text::after{
    position:absolute;
    content:"";
    width:2px;
    height: 5px;
    background-color: var(--yellow-theme-main-color);
    bottom: -1px;
}

&__category-text::before{
left: 0;
}
  &__category-text::after{
 right:0;
}
.data-wrapper{
    padding: 22px 0px 0px 0px;

p{
    font-size: 1.9rem;
    margin: 0 0 55px;
    font-weight: 500;
    text-transform:none;
    color:var(--yellow-theme-sub-text-color);
    padding-left: 40px;
    position: relative;
}

&__mail{
    display: flex;
    margin-right: 5px;
}
&__number{
    display: flex;
    margin-right: 5px;
    
}
&__card{
    display: flex;
    margin-right: 5px;
}
&__date{
    display: flex;
    margin-right: 5px;
}
&__flag{
    display: flex;
    margin-right: 5px;
}
&__gender-content{
    display: flex;
    margin-right: 5px;
}
&__profile{
    display: flex;
    margin-right: 5px;
}
.one{
    margin-bottom: 15px;
}
.two{
    margin-bottom: 15px;
}
.three{
    margin-bottom: 15px;
}
.four{
    margin-bottom: 15px;
}
.five{
    margin-bottom: 15px;
}
.six{
    margin-bottom: 15px;
    

    
}
.seven{
    margin-bottom: 15px;
}
.profile-link{
    display:flex;
    font-size: 2.1rem;
    padding-left: 40px;
    color: var(--yellow-theme-sub-text-color);

 }
 
}

}
        }

    }
